In [13]:
!python parepare.py

{'baseline metrics file': '../data/v4000_01_baseline_vus_roc_0.001_random.bz2',
 'target metrics file': '../data/v4020_03_fastuts_sup1_vus_roc_0.001_random.bz2'}
{'baseline metrics file': '../data/v4000_01_baseline_vus_roc_0.001_random.bz2',
 'target metrics file': '../data/v4020_03_fastuts_sup1_rf_0.001_random.bz2'}
File is saved to  /Users/sunwu/Nextcloud/B1-Papers/01-less-is-more/submits/source_code_of_fastuts_ad/figs_and_tables/tab.7/data-ratio-on-model-and-datasets-RF.tex
File is saved to  /Users/sunwu/Nextcloud/B1-Papers/01-less-is-more/submits/source_code_of_fastuts_ad/figs_and_tables/tab.7/data-ratio-on-model-and-datasets-VUS_PR.tex
File is saved to  /Users/sunwu/Nextcloud/B1-Papers/01-less-is-more/submits/source_code_of_fastuts_ad/figs_and_tables/tab.7/data-ratio-on-model-and-datasets-VUS_ROC.tex
File is saved to  /Users/sunwu/Nextcloud/B1-Papers/01-less-is-more/submits/source_code_of_fastuts_ad/figs_and_tables/tab.7/data-ratio-on-model-and-datasets-RF.tex
File is saved to  /Users/sunwu/Nextcloud/B1-Papers/01-less-is-more/submits/source_code_of_fastuts_ad/figs_and_tables/tab.7/data-ratio-on-model-and-datasets-VUS_PR.tex
File is saved to  /Users/sunwu/Nextcloud/B1-Papers/01-less-is-more/submits/source_code_of_fastuts_ad/figs_and_tables/tab.7/data-ratio-on-model-and-datasets-VUS_ROC.tex

In [14]:
import numpy as np
import pandas as pd

from pysearchlib.share.ExcelOutKeys import EK
from pysearchlib.utils.util_pandas import PDUtil

df = pd.read_excel("perf_model_over_uts.xlsx")
df

,index,opt_target,model_name,dataset_name,data_id,ori. perf. mean,ori. perf. std,fast. perf. mean,fast. perf. std,ori. train time mean,ori. train time std,fast. train time mean,fast. train time std,fast. data proc. time mean,fast. data proc. time std,fast. best sr,fast. best train len
0,0,VUS_PR,ae,Daphnet,S02R01E0.test.csv@6.out,71.81,2.52,72.36,3.76,289.47,0.77,68.05,0.70,0.05,0.0,1.25,256.0
1,1,VUS_PR,ae,Daphnet,S03R01E0.test.csv@6.out,50.10,11.51,50.26,12.70,526.93,6.30,62.86,0.48,0.09,0.0,0.58,256.0
2,2,VUS_PR,ae,Daphnet,S03R01E1.test.csv@1.out,54.26,24.58,53.32,24.04,298.19,1.06,60.54,0.53,0.06,0.0,2.68,768.0
3,3,VUS_PR,ae,Daphnet,S03R01E1.test.csv@2.out,59.08,25.60,58.44,27.13,333.39,5.38,61.76,0.50,0.06,0.0,0.89,256.0
4,4,VUS_PR,ae,Daphnet,S03R02E0.test.csv@2.out,76.38,28.71,76.35,28.62,203.10,6.48,94.40,0.29,0.05,0.0,3.86,512.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3073,1021,RF,vae,YAHOO,Yahoo_A2synthetic_26_data.out,20.64,29.19,34.50,9.59,41.02,0.13,121.55,0.87,0.02,0.0,47.15,512.0
3074,1022,RF,vae,YAHOO,Yahoo_A2synthetic_64_data.out,50.03,4.12,57.29,6.14,41.55,0.10,218.60,0.71,0.03,0.0,94.29,1024.0
3075,1023,RF,vae,YAHOO,Yahoo_A2synthetic_77_data.out,37.33,1.56,71.70,37.40,42.68,0.33,120.65,0.63,0.02,0.0,23.57,256.0
3076,1024,RF,vae,YAHOO,Yahoo_A2synthetic_89_data.out,36.41,1.22,40.46,3.14,44.00,1.94,125.40,0.74,0.01,0.0,23.57,256.0
3077,1025,RF,vae,YAHOO,Yahoo_A2synthetic_94_data.out,35.30,0.39,35.03,0.00,42.42,0.02,207.75,0.50,0.03,0.0,94.29,1024.0

,index,opt_target,model_name,dataset_name,data_id,ori. perf. mean,ori. perf. std,fast. perf. mean,fast. perf. std,ori. train time mean,ori. train time std,fast. train time mean,fast. train time std,fast. data proc. time mean,fast. data proc. time std,fast. best sr,fast. best train len
0,0,VUS_PR,ae,Daphnet,S02R01E0.test.csv@6.out,71.81,2.52,72.36,3.76,289.47,0.77,68.05,0.70,0.05,0.0,1.25,256.0
1,1,VUS_PR,ae,Daphnet,S03R01E0.test.csv@6.out,50.10,11.51,50.26,12.70,526.93,6.30,62.86,0.48,0.09,0.0,0.58,256.0
2,2,VUS_PR,ae,Daphnet,S03R01E1.test.csv@1.out,54.26,24.58,53.32,24.04,298.19,1.06,60.54,0.53,0.06,0.0,2.68,768.0
3,3,VUS_PR,ae,Daphnet,S03R01E1.test.csv@2.out,59.08,25.60,58.44,27.13,333.39,5.38,61.76,0.50,0.06,0.0,0.89,256.0
4,4,VUS_PR,ae,Daphnet,S03R02E0.test.csv@2.out,76.38,28.71,76.35,28.62,203.10,6.48,94.40,0.29,0.05,0.0,3.86,512.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3073,1021,RF,vae,YAHOO,Yahoo_A2synthetic_26_data.out,20.64,29.19,34.50,9.59,41.02,0.13,121.55,0.87,0.02,0.0,47.15,512.0
3074,1022,RF,vae,YAHOO,Yahoo_A2synthetic_64_data.out,50.03,4.12,57.29,6.14,41.55,0.10,218.60,0.71,0.03,0.0,94.29,1024.0
3075,1023,RF,vae,YAHOO,Yahoo_A2synthetic_77_data.out,37.33,1.56,71.70,37.40,42.68,0.33,120.65,0.63,0.02,0.0,23.57,256.0
3076,1024,RF,vae,YAHOO,Yahoo_A2synthetic_89_data.out,36.41,1.22,40.46,3.14,44.00,1.94,125.40,0.74,0.01,0.0,23.57,256.0
3077,1025,RF,vae,YAHOO,Yahoo_A2synthetic_94_data.out,35.30,0.39,35.03,0.00,42.42,0.02,207.75,0.50,0.03,0.0,94.29,1024.0

In [15]:
res = df.pivot_table(
    index=[EK.DATASET_NAME],
    values=[EK.FAST_BEST_SR],
    aggfunc=[np.mean, np.median, np.std]
)
res = res.round(2)
res

                      mean        median           std
             fast. best sr fast. best sr fast. best sr
dataset_name
Daphnet               5.98          3.36          5.56
ECG                   0.46          0.42          0.36
IOPS                  3.52          0.90          6.37
MGAB                  1.26          0.96          1.12
OPPORTUNITY           3.13          2.51          2.59
SMD                   3.86          3.35          2.61
SVDB                  0.45          0.42          0.37
YAHOO                50.99         47.15         26.95

                      mean        median           std
             fast. best sr fast. best sr fast. best sr
dataset_name
Daphnet               5.98          3.36          5.56
ECG                   0.46          0.42          0.36
IOPS                  3.52          0.90          6.37
MGAB                  1.26          0.96          1.12
OPPORTUNITY           3.13          2.51          2.59
SMD                   3.86          3.35          2.61
SVDB                  0.45          0.42          0.37
YAHOO                50.99         47.15         26.95

In [16]:
PDUtil.save_to_latex(res.reset_index(), "effect_of_data_size", caption="Effect of data size",
                     label="tab:effect_of_data_size")