In [49]:
import numpy as np
from pysearchlib.share.ExcelOutKeys import EK
import pandas as pd

from pysearchlib.utils.util_pandas import PDUtil

original_data = pd.read_excel(
    "../data/v4000_01_baseline_vus_roc_0.001_random_original_metrics.xlsx")
original_data

,index,data_processing_time,window_size,model_name,data_sample_method,data_sample_rate,dataset_name,data_id,exp_total,exp_index,...,AUC_ROC,AUC_PR,Precision_at_k,Rprecision,Rrecall,RF,R_AUC_ROC,R_AUC_PR,VUS_ROC,VUS_PR
0,0,NaN,64,ocsvm,random,-1,OPPORTUNITY,S1-ADL3.test.csv@77.out,2300,1458,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0.005151,64,ocsvm,random,-1,OPPORTUNITY,S3-ADL5.test.csv@103.out,2300,1491,...,0.974485,0.722160,0.941281,0.638095,0.576512,0.605743,0.969346,0.702440,0.970387,0.703535
2,0,0.006567,64,ocsvm,random,-1,OPPORTUNITY,S2-ADL5.test.csv@53.out,2300,1446,...,0.159501,0.069478,0.003876,0.062500,0.203101,0.095586,0.200952,0.075405,0.200935,0.075634
3,0,NaN,64,ocsvm,random,-1,OPPORTUNITY,S4-ADL2.test.csv@77.out,2300,1427,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0.005501,64,ocsvm,random,-1,OPPORTUNITY,S4-ADL2.test.csv@131.out,2300,1500,...,0.297420,0.086572,0.000000,0.000000,0.000000,0.000000,0.347061,0.096906,0.346198,0.097119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5170,0,0.000127,64,vae,random,-1,YAHOO,YahooA3Benchmark-TS94_data.out,2875,2247,...,0.201322,0.121236,0.000000,0.000000,0.000000,0.000000,0.340599,0.205876,0.342605,0.211511
5171,0,NaN,64,vae,random,-1,YAHOO,Yahoo_A1real_14_data.out,2875,2264,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5172,0,NaN,64,vae,random,-1,YAHOO,Yahoo_A2synthetic_94_data.out,2875,2256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5173,0,0.000228,64,vae,random,-1,YAHOO,Yahoo_A2synthetic_89_data.out,2875,2243,...,0.999884,0.999807,0.108911,1.000000,0.229043,0.372718,0.973473,0.973082,0.975566,0.975592
5174,0,0.000159,64,vae,random,-1,YAHOO,YahooA3Benchmark-TS62_data.out,2875,2300,...,0.505043,0.590472,0.151220,0.442857,0.142508,0.215628,0.817979,0.853390,0.730672,0.848153

In [50]:
df = original_data[original_data[EK.DATA_PROCESSING_TIME] > 0]
df = df[df[EK.DEBUG] == False]
df.shape

(3780, 53)

In [51]:
def merged_original_data(data):
    # print(type(data))
    return data.round(2).to_list()


merage_data = df.pivot_table(
    index=[EK.EXP_NAME, EK.MODEL_NAME, EK.DATASET_NAME, EK.DATA_ID],
    values=[EK.VUS_ROC, EK.VUS_PR, EK.RF, EK.ELAPSED_TRAIN, EK.VERBOSE],
    aggfunc={
        EK.VUS_ROC: np.mean,
        EK.VUS_PR: np.mean,
        EK.RF: np.mean,
        EK.ELAPSED_TRAIN: np.sum,
    }
)
merage_data

                                                                                                    RF
exp_name                               model_name dataset_name data_id
v4000_01_baseline_vus_roc_0.001_random ae         Daphnet      S02R01E0.test.csv@6.out        0.130493  \
                                                               S03R01E0.test.csv@6.out        0.213285
                                                               S03R01E1.test.csv@1.out        0.069861
                                                               S03R01E1.test.csv@2.out        0.077832
                                                               S03R02E0.test.csv@2.out        0.338327
...                                                                                                ...
                                       vae        YAHOO        Yahoo_A2synthetic_26_data.out  0.206425
                                                               Yahoo_A2synthetic_64_data.out  0.500265
                                                               Yahoo_A2synthetic_77_data.out  0.373326
                                                               Yahoo_A2synthetic_89_data.out  0.364100
                                                               Yahoo_A2synthetic_94_data.out  0.353036

                                                                                                VUS_PR
exp_name                               model_name dataset_name data_id
v4000_01_baseline_vus_roc_0.001_random ae         Daphnet      S02R01E0.test.csv@6.out        0.718122  \
                                                               S03R01E0.test.csv@6.out        0.501023
                                                               S03R01E1.test.csv@1.out        0.542593
                                                               S03R01E1.test.csv@2.out        0.590763
                                                               S03R02E0.test.csv@2.out        0.763780
...                                                                                                ...
                                       vae        YAHOO        Yahoo_A2synthetic_26_data.out  0.564351
                                                               Yahoo_A2synthetic_64_data.out  0.918803
                                                               Yahoo_A2synthetic_77_data.out  0.932159
                                                               Yahoo_A2synthetic_89_data.out  0.948159
                                                               Yahoo_A2synthetic_94_data.out  0.608773

                                                                                               VUS_ROC
exp_name                               model_name dataset_name data_id
v4000_01_baseline_vus_roc_0.001_random ae         Daphnet      S02R01E0.test.csv@6.out        0.754912  \
                                                               S03R01E0.test.csv@6.out        0.780829
                                                               S03R01E1.test.csv@1.out        0.716905
                                                               S03R01E1.test.csv@2.out        0.793985
                                                               S03R02E0.test.csv@2.out        0.713385
...                                                                                                ...
                                       vae        YAHOO        Yahoo_A2synthetic_26_data.out  0.724287
                                                               Yahoo_A2synthetic_64_data.out  0.962121
                                                               Yahoo_A2synthetic_77_data.out  0.916909
                                                               Yahoo_A2synthetic_89_data.out  0.955471
                                                               Yahoo_A2synthetic_94_data.out  0.818012

                                                                                              elapsed_train
exp_name                               model_name dataset_name data_id
v4000_01_baseline_vus_roc_0.001_random ae         Daphnet      S02R01E0.test.csv@6.out               115.79
                                                               S03R01E0.test.csv@6.out               421.54
                                                               S03R01E1.test.csv@1.out               238.55
                                                               S03R01E1.test.csv@2.out               266.71
                                                               S03R02E0.test.csv@2.out                81.24
...                                                                                                     ...
                                       vae        YAHOO        Yahoo_A2synthetic_26_data.out          16.41
                                                               Yahoo_A2synthetic_64_data.out          16.62
                                                               Yahoo_A2synthetic_77_data.out          17.07
                                                               Yahoo_A2synthetic_89_data.out          17.60
                                                               Yahoo_A2synthetic_94_data.out          16.97

[1026 rows x 4 columns]

In [52]:
query_conditions = 'data_id == "S02R01E0.test.csv@6.out" and model_name =="ae"'
merge_data = merage_data.query(query_conditions)
merge_data

,,,,RF,VUS_PR,VUS_ROC,elapsed_train
exp_name,model_name,dataset_name,data_id,,,,
v4000_01_baseline_vus_roc_0.001_random,ae,Daphnet,S02R01E0.test.csv@6.out,0.130493,0.718122,0.754912,115.79

In [53]:
# 验证数据是否正确
varify_data = original_data.query(query_conditions)

assert varify_data.shape[0] == 5

assert varify_data[EK.VUS_ROC].mean() == merge_data[EK.VUS_ROC][0]
assert varify_data[EK.VUS_ROC].mean() != merge_data[EK.VUS_PR][0]

In [54]:
# merage_data: the merage data
keys = [EK.VUS_ROC, EK.VUS_PR, EK.RF, EK.ELAPSED_TRAIN]
out = merage_data.pivot_table(
    index=EK.MODEL_NAME,
    values=keys,
    aggfunc={
        EK.VUS_ROC: np.mean,
        EK.VUS_PR: np.mean,
        EK.RF: np.mean,
        EK.ELAPSED_TRAIN: np.sum,
    }
)
out

                  RF    VUS_PR   VUS_ROC  elapsed_train
model_name
ae          0.210960  0.400926  0.692427       85960.63
cnn         0.202316  0.356053  0.690075      101925.98
dagmm       0.064937  0.420161  0.600462      266414.33
hbos        0.213291  0.389166  0.675018        4746.79
iforest     0.176137  0.398684  0.709407       12665.18
lof         0.281838  0.435429  0.733985      355260.43
lstm-ad     0.185488  0.313718  0.649847      572176.82
ocsvm       0.274851  0.405661  0.696496      476576.52
vae         0.195899  0.402835  0.696245      131349.35

In [55]:
out = out.reset_index()
out[EK.ELAPSED_TRAIN + "(hour)"] = out[EK.ELAPSED_TRAIN] / 60 / 60
out

  model_name        RF    VUS_PR   VUS_ROC  elapsed_train  elapsed_train(hour)
0         ae  0.210960  0.400926  0.692427       85960.63            23.877953
1        cnn  0.202316  0.356053  0.690075      101925.98            28.312772
2      dagmm  0.064937  0.420161  0.600462      266414.33            74.003981
3       hbos  0.213291  0.389166  0.675018        4746.79             1.318553
4    iforest  0.176137  0.398684  0.709407       12665.18             3.518106
5        lof  0.281838  0.435429  0.733985      355260.43            98.683453
6    lstm-ad  0.185488  0.313718  0.649847      572176.82           158.938006
7      ocsvm  0.274851  0.405661  0.696496      476576.52           132.382367
8        vae  0.195899  0.402835  0.696245      131349.35            36.485931

In [56]:
out_1 = out.copy()
round_key = [EK.VUS_ROC, EK.VUS_PR, EK.RF]
out_1.loc[:, round_key] = out_1.loc[:, round_key] * 100
out_1 = out_1.sort_values(EK.ELAPSED_TRAIN, ascending=False)
out_1 = out_1.round(2)
out_1

  model_name     RF  VUS_PR  VUS_ROC  elapsed_train  elapsed_train(hour)
6    lstm-ad  18.55   31.37    64.98      572176.82               158.94
7      ocsvm  27.49   40.57    69.65      476576.52               132.38
5        lof  28.18   43.54    73.40      355260.43                98.68
2      dagmm   6.49   42.02    60.05      266414.33                74.00
8        vae  19.59   40.28    69.62      131349.35                36.49
1        cnn  20.23   35.61    69.01      101925.98                28.31
0         ae  21.10   40.09    69.24       85960.63                23.88
4    iforest  17.61   39.87    70.94       12665.18                 3.52
3       hbos  21.33   38.92    67.50        4746.79                 1.32

In [57]:
out_1 = out_1.drop(EK.ELAPSED_TRAIN, axis=1)
out_1

  model_name     RF  VUS_PR  VUS_ROC  elapsed_train(hour)
6    lstm-ad  18.55   31.37    64.98               158.94
7      ocsvm  27.49   40.57    69.65               132.38
5        lof  28.18   43.54    73.40                98.68
2      dagmm   6.49   42.02    60.05                74.00
8        vae  19.59   40.28    69.62                36.49
1        cnn  20.23   35.61    69.01                28.31
0         ae  21.10   40.09    69.24                23.88
4    iforest  17.61   39.87    70.94                 3.52
3       hbos  21.33   38.92    67.50                 1.32

In [58]:
PDUtil.save_to_latex(out_1, file_path="original_model.tex", caption="", label="")